@use "../../../styles/spinner.scss"; // wird benötigt, damit der Spinner angezeigt wird.

h1 {
  padding-top: 20px;
  text-align: center;
}

p {
  text-align: center;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
