<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    [opened]="false"
  >
    <mat-toolbar>{{ "SIDEBAR.MENU" | translate }}</mat-toolbar>
    <mat-nav-list>
      <a [routerLink]="['/blog']" (click)="drawer.close()">{{
        "SIDEBAR.BLOG" | translate
      }}</a>
      <a [routerLink]="['/calculator']" (click)="drawer.close()">{{
        "SIDEBAR.CALCULATOR" | translate
      }}</a>
      <div class="divider"></div>
      @if (authState.isAuthenticated()) {
        <button (click)="drawer.close(); authState.logout()">
          {{ "SIDEBAR.LOGOUT" | translate }}
        </button>
      } @else {
        <button (click)="drawer.close(); authState.login()">
          {{ "SIDEBAR.LOGIN" | translate }}
        </button>
      }
      <div class="divider"></div>
      <span>{{ "SIDEBAR.LANGUAGE" | translate }}</span>
      @for (lang of language; track lang) {
        <button (click)="drawer.close(); langState.setLanguage(lang)">
          {{ `SIDEBAR.LANG.${lang.name}` | translate }}
        </button>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <mat-toolbar class="top-toolbar">
        <!-- links / rechts aufgeteilt -->
        @if (appState.isHandset()) {
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        } @else {
          <div class="nav-links">
            <a [routerLink]="['/blog']">{{ "SIDEBAR.BLOG" | translate }}</a>
            <a [routerLink]="['/calculator']">{{
              "SIDEBAR.CALCULATOR" | translate
            }}</a>
          </div>
        }

        <span class="blog-app-title" [routerLink]="['/blog/']">{{
          "SIDEBAR.TITEL" | translate
        }}</span>

        @if (!appState.isHandset()) {
          @for (lang of language; track lang) {
            <button (click)="langState.setLanguage(lang)">
              {{ `SIDEBAR.LANG.${lang.name}` | translate }}
            </button>
          }
        }

        <div class="user">
          @if (authState.isAuthenticated()) {
            <div
              class="circle"
              [title]="
                authState.userData()?.preferred_username +
                '
Rollen:
  ' +
                authState.roles()?.join(
                  '
  '
                )
              "
            >
              <span>{{ authState.userData()?.preferred_username[0] }}</span>
            </div>
            @if (!appState.isHandset()) {
              <button (click)="authState.logout()">
                {{ "SIDEBAR.LOGOUT" | translate }}
              </button>
            }
          } @else {
            <button (click)="authState.login()">
              {{ "SIDEBAR.LOGIN" | translate }}
            </button>
          }
        </div>
      </mat-toolbar>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
